<div class="row">
    <h1>Hard and soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [title]="'HTML5'"
        [showUnits]="false"
        [titleColor]="'white'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7F2DC5'"
        [innerStrokeColor]="'#C530D9'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [title]="'CSS3'"
        [showUnits]="false"
        [titleColor]="'white'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7F2DC5'"
        [innerStrokeColor]="'#C530D9'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="35"
        [radius]="100"
        [title]="'JavaScript'"
        [showUnits]="false"
        [titleColor]="'white'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7F2DC5'"
        [innerStrokeColor]="'#C530D9'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="100"
        [title]="'GitHub'"
        [showUnits]="false"
        [titleColor]="'white'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7F2DC5'"
        [innerStrokeColor]="'#C530D9'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="90"
        [radius]="100"
        [title]="'Inglés'"
        [showUnits]="false"
        [titleColor]="'white'"
        [titleFontSize]="'25px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7F2DC5'"
        [innerStrokeColor]="'#C530D9'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'Comunicación'"
        [showUnits]="false"
        [titleColor]="'white'"
        [titleFontSize]="'23px'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7F2DC5'"
        [innerStrokeColor]="'#C530D9'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    
</div>