.row{
    padding: 10px;
    
}

div{
    background-color: rgb(15 25 34);
    color: white;
    text-align: center;
}

.container{
    margin-top: 25px;
}

.img-fluid{
    clip-path: circle();
    max-width: 86%;
}

@media (min-width: 576){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        left: 5%;
    }
}

@media (max-width: 575){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        left: 5%;
    }
}

#nombre{
    font-weight: bold;
    margin-top: 40%;
    margin-bottom: -4px;
    position: relative;
    left: -23px;
}

#texto{
    text-align: justify;
    margin-top: 27px;
    margin-left: 15px;
    margin-right: 15px;

}





