<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoPerfil.jpg" 
        class="img-fluid" id="fotodeperfil">
    </div>


    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        <div class="container">
            <h1>Acerca de mí</h1>
            <!--<p id="nombre">{{persona.nombre}} {{persona.apellido}} </p> -->
            <p id="texto">¡Hola! Mi nombre es Victoria Godoy, soy desarrolladora Full Stack Jr.           
                Vengo del rubro de las artes visuales y soy joyera de oficio por lo que me interesa mucho la estética y la 
                imagen a la hora de llevar a cabo un proyecto. Me considero una estudiante de por vida ya que las cosas que 
                no sé, las aprendo. Me gusta ver hasta donde me lleva mi curiosidad y trato de superarme en cada idea nueva que emprendo.
            </p>
        </div>
           
        
    </div>
    
</div>
